::-webkit-scrollbar{
    width: 6px;
  }
  ::-webkit-scrollbar:horizontal{
    height: 8px;
  }
  ::-webkit-scrollbar-thumb{
    background-color: #ff73e1; /* Color de fondo de rosa-900 */
    border-radius: 0.75rem; /* Bordes redondeados de 12px */
  }
  .task > ::-webkit-scrollbar-thumb {
    background-color: #60A5FA; /* Color de fondo de cielo-500 */
    border-radius: 0.75rem; /* Bordes redondeados de 12px */
  }